#container
{
        margin: 0 auto;
        width: 720px;
        background:#fff;
        border: 1px solid#79ccf5;
}

#header
{
        background:#79ccf5;
        padding: 20px;
}

#header a
{
        text-decoration: none;
        color:#000;
}

#header h1 { margin: 0; }

#navigation
{
        float: left;
        width: 720px;
        background:#008dd7;
}

#navigation ul
{
        margin: 0;
        padding: 0;
}

#navigation ul li
{
        list-style-type: none;
        display: inline;
}

#navigation li a
{
        display: block;
        float: left;
        padding: 5px 10px;
        color:#fff;
        text-decoration: none;
        border-right: 1px solid#79ccf5;
}

#navigation li a:hover { background:#474ee4; }

#content
{
        clear: left;
        padding: 20px;
}

#content h1
{
        color:#000;
        font-size: 160%;
        margin: 0 0 .5em;
}

#content h2
{
        color:#000;
        font-size: 140%;
        margin: .5em 0 .5em;
}

#content h3
{
        color:#000;
        font-size: 120%;
        margin: 1em 0 .5em;
}

#footer
{
        background:#ccc;
        text-align: right;
        padding: 20px;
        height: 1%;
}

#code
{
        border: 1px solid#79ccf5;
        background:#ceefff;
}