---
layout: page
---

{% capture api %}

[`create`]: /api.html#create
[`root`]: /api.html#root
[`atomically`]: /api.html#atomically
[`lift`]: /api.html#lift
[`retry`]: /api.html#retry
[`orElse`]: /api.html#orElse

[home]: /index.html
[index]: /index.html
[install]: /install.html
[getting started]: /getting_started.html
[API]: /api.html
[background]: /background.html
[contact]: /contact.html
[blog]: /blog.html

[WeakMaps]: http://wiki.ecmascript.org/doku.php?id=harmony:weak_maps
[Proxies]: http://wiki.ecmascript.org/doku.php?id=harmony:proxies
[Direct-Proxies]: http://wiki.ecmascript.org/doku.php?id=harmony:direct_proxies

[NodeJS]: http://nodejs.org/
[V8]: http://code.google.com/p/v8/

[email]: mailto://atomizejs@rabbitmq.com
[github-org]: https://github.com/atomizejs/
[twitter]: https://twitter.com/atomizejs

{% endcapture %}

{{ content | append:api | markdownify }}
